doctl/
binwalk/
go/
pulse/
dconf/
chromium/
discord/*
!discord/settings.json
session/
kde.org/
obs-studio/
baloo*
kde*
ktrashrc
kservice*
kiorc
VSCodium/
spotify/
Notion/
trashrc
vlc/
bashtop/*
!bashtop/bashtop.cfg
qalculate/*
!qalculate/qalc.cfg
Code/
Code - OSS/
unity3d/
TradingView/
libvirt/
configstore/
tool_state
settings
.android/
Google/
Android*/
QtProject.conf
VirtualBox/
FreeCAD/
Thunar/accels.scm
Fritzing/
stripe/
gtk-3.0/
hardinfo2/
!LM Studio/
LM Studio/*
!LM Studio/settings.json
!geeqie/
geeqie/*
!geeqie/geeqierc.xml
cinnamon/
menus/
nemo/
cinnamon*
kicad/
font*
maestral/
Thunar/
*thunar.xml
godot/
blender/
simple-scan/
guvcview*
teams*
JetBrains*
noisetorch
r2modman*