doctl/
binwalk/
go/
pulse/
dconf/
chromium/
discord/*
!discord/settings.json
session/
kde.org/
obs-studio/
baloo*
kde*
ktrashrc
kservice*
kiorc
VSCodium/
spotify/
Notion/
trashrc
vlc/
bashtop/*
!bashtop/bashtop.cfg
qalculate/
Code/
Code - OSS/
unity3d/
TradingView/
libvirt/
configstore/
tool_state
settings
.android/
Google/
Android*/
QtProject.conf
VirtualBox/
systemd/
FreeCAD/